<h1>Progress App</h1>
<div><a href="https://github.com/nikhilkulkarni1755/progress">Github Repo for the iOS app</a><br></div>
<p>The Progress App will be published on the App Store here this weekend</p><br>
<p>This is an app for all people looking to build daily habits into their life, whether it be 1 min planks, coding or sleeping on time</p><br>

<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/K8xDAbyrdm0?si=VXAakI6dQzaGI8AX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>

    <img src="./assets/currentProgress.png" height="450px" width="225px"><br>
    
</div>


