table, th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

th {
    width: 14.2%;
}

td:hover {
    background-color: aqua;
}

th:hover {
    background-color: lightgreen;
}

table {
    width: 100%;
}